.result {
    width:500px;
    height:100px;
}


.span-links span{
    border-bottom:1px dotted #444;
    cursor:pointer;
}
.span-links span:hover{
    color:#F00;
}

.cltable {
    border:1px solid #CCC;
    padding:16px;
    border-radius: 16px;
    background:#FFF;
    margin-bottom:16px;
}

body {
    background:#EEE;
    color:#000;
}

h1 {
    color:#1b6d85;
}

h3 {
    color: #974a00;
}

.base1 {
    margin-bottom:100px;
}

.legend-class {
    padding-top:30px;
    font-style: italic;
}